# CSharp-Specific Coding Conventions
[*.cs]
# Do not prefer "var" everywhere
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion
csharp_style_var_elsewhere = false:suggestion

# Naming Conventions
## StyleCop 4.5 SA1300: ElementMustBeginWithUpperCaseLetter
## A violation of this rule occurs when the names of certain types of elements do not begin with an upper-case letter.
dotnet_naming_style.sa1300_style.capitalization = first_word_upper
dotnet_naming_symbols.sa1300_symbols.applicable_kinds = namespace,class,enum,struct,delegate,event,method,property
dotnet_naming_symbols.sa1300_symbols.applicable_accessibilities = *
dotnet_naming_rule.sa1300.severity = suggestion
dotnet_naming_rule.sa1300.symbols = sa1300_symbols
dotnet_naming_rule.sa1300.style = sa1300_style

## StyleCop 4.5 SA1302: InterfaceNamesMustBeginWithI
## A violation of this rule occurs when the name of an interface does not begin with the capital letter I.
dotnet_naming_style.sa1302_style.capitalization = first_word_upper
dotnet_naming_style.sa1302_style.required_prefix = I
dotnet_naming_symbols.sa1302_symbols.applicable_kinds = interface
dotnet_naming_symbols.sa1302_symbols.applicable_accessibilities = *
dotnet_naming_rule.sa1302.severity = suggestion
dotnet_naming_rule.sa1302.symbols = sa1302_symbols
dotnet_naming_rule.sa1302.style = sa1302_style

## StyleCop 4.5 SA1303: ConstFieldNamesMustBeginWithUpperCaseLetter
## A violation of this rule occurs when the name of a field marked with the const attribute does not begin with an upper-case letter.
dotnet_naming_style.sa1303_style.capitalization = first_word_upper
dotnet_naming_symbols.sa1303_symbols.applicable_kinds = field
dotnet_naming_symbols.sa1303_symbols.applicable_accessibilities = *
dotnet_naming_symbols.sa1303_symbols.required_modifiers = const
dotnet_naming_rule.sa1303.severity = suggestion
dotnet_naming_rule.sa1303.symbols = sa1303_symbols
dotnet_naming_rule.sa1303.style = sa1303_style

## StyleCop 4.5 SA1304: NonPrivateReadonlyFieldsMustBeginWithUpperCaseLetter
## The name of a non-private readonly C# field must being with an upper-case letter.
dotnet_naming_style.sa1304_style.capitalization = first_word_upper
dotnet_naming_symbols.sa1304_symbols.applicable_kinds = field
dotnet_naming_symbols.sa1304_symbols.applicable_accessibilities = public,internal,protected,protected_internal
dotnet_naming_rule.sa1304.severity = suggestion
dotnet_naming_rule.sa1304.symbols = sa1304_symbols
dotnet_naming_rule.sa1304.style = sa1304_style

## StyleCop 4.5 SA1307: AccessibleFieldsMustBeginWithUpperCaseLetter
## In addition, any field which is public or internal should begin with an upper-case letter.
## dotnet_naming_rule.sa1307.format = "^[A-Z]"
dotnet_naming_style.sa1307_style.capitalization = first_word_upper
dotnet_naming_symbols.sa1307_symbols.applicable_kinds = field
dotnet_naming_symbols.sa1307_symbols.applicable_accessibilities = public,internal
dotnet_naming_rule.sa1307.severity = suggestion
dotnet_naming_rule.sa1307.symbols = sa1307_symbols
dotnet_naming_rule.sa1307.style = sa1307_style

